# ==== UNITY PROJECTS ====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Cache do pacote
[Pp]ackages/com.unity.analytics/
[Pp]ackages/com.unity.ads/
[Pp]ackages/com.unity.collab-proxy/
[Pp]ackages/com.unity.package-manager-ui/
[Pp]ackages/com.unity.textmeshpro/

# Várias pastas geradas automaticamente
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db
