# Auto detect text files and perform LF normalization
* text=auto

# Unity files
*.cs diff=csharp text
*.cginc text
*.shader text

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf

# Image formats
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.psd binary
*.ai binary
*.tga binary
*.tif binary
*.tiff binary
*.exr binary

# Audio formats
*.mp3 binary
*.wav binary
*.ogg binary
*.aif binary
*.aiff binary
*.mod binary
*.it binary
*.s3m binary
*.xm binary

# Video formats
*.mp4 binary
*.mov binary
*.avi binary
*.asf binary
*.mpg binary
*.mpeg binary
*.flv binary
*.ogv binary

# 3D formats
*.fbx binary
*.obj binary
*.max binary
*.blend binary
*.dae binary
*.mb binary
*.ma binary
*.3ds binary
*.dfx binary
*.c4d binary
*.lwo binary
*.lwo2 binary
*.abc binary

# Unity packages
*.unitypackage binary

# Compiled Dynamic Library
*.so binary
*.dylib binary
*.dll binary

# Fonts
*.ttf binary
*.otf binary

# Documents
*.pdf binary

# Other
*.a binary
*.rns binary
*.reason binary
